<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
  <!-- an ISessionFactory instance -->
  <session-factory>

    <!-- properties -->
    <property name="connection.connection_string">
      Server=SVR-INTERNET;initial catalog=CallCenterA;User Id=sa;Password=Binaria676
    </property>
    <property name="show_sql">false</property>
    <property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
    <property name = "connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
  </session-factory>
</hibernate-configuration>
